*{
  box-sizing: border-box;
  user-select: none;
}
html {
  height: 100%;

  body {
    height: 100%;
    font-family: 'Lato';
    font-size: 60%;
    text-align: justify;
    color: $base-black;
    //position: relative;

    @include mQ(1024px){
      font-size: 70%;
    }
    @include mQ(1200px){
      font-size: 80%;
    }
    @include mQ(1400px){
      font-size: 90%;
    }
    @include mQ(1600px){
      font-size: 100%;
    }
  }
}
