*{
  box-sizing: border-box;
  user-select: none;
}
html {
  height: 100%;
  font-size: 60%;
  @include mQ(1024px){
    font-size: 70%;
  }
  @include mQ(1200px){
    font-size: 80%;
  }
  @include mQ(1400px){
    font-size: 90%;
  }
  @include mQ(1600px){
    font-size: 100%;
  }

  body {
    height: 100%;
    font-family: 'Lato';
    font-size: 167%;
    text-align: center;
    color: $base-black;

    @include mQ(1024px){
      font-size: 143%;
    }
    @include mQ(1200px){
      font-size: 125%;
    }
    @include mQ(1400px){
      font-size: 111%;
    }
    @include mQ(1600px){
      font-size: 100%;
    }
    h2{
      padding-top: 3em;
      font-size: 5rem;
      font-weight: bold;
      color: $base-black;
    }
    p{

      text-align: center;
      letter-spacing: .09em;
      word-spacing: .2em;
      line-height: 2em;
      font-size: 1.4em;
      color: lighten($base-black, 15%);

      @include mQ(1024px){
        font-size: 1.2em;
      }
    }

  }
}
