.menu {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  display: flex;
  overflow: hidden;
  background: $base-dark;
  position: fixed;
  z-index: 55;
  transition: .3s ease-in;
  &.height {
    height: 100vh;
  }
  .menu-content {
    width: 90%;
    height: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .menu-column-wrap {
      width: 40%;
      height: 100%;
      &.middle{
        width: 2px;
        height: 100%;
        .menu-line {
          width: 2px;
          height: 100%;
          position: relative;
          &:after{
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 100%;
            background: white;
            transition: top .2s ease-out;
          }
          &.height:after{
            top: 0;
          }
        }
      }
    }
  }

}