.parallax{

  #fixed{
    width: 100%;
    height: 6rem;
    position: fixed;
    background: transparent;
    z-index: 1;
    transition: background 1s ease, height .3s;

    &.scrolled{
      background: lighten($base-dark,10%);
    }
  }
  #hamburger{

    .fa-bars {
      font-size: 4rem;
      color: $base-dark;
      position: fixed;
      top: 1rem;
      right: 3rem;
      transition: all .3s ease;
      cursor: pointer;
      z-index: 2;
      &:hover {
        font-size: 4.5rem;
        top: 0.75rem;
        right: 2.75rem;
        color: lighten($base-dark, 10%);
        text-shadow: .2rem .3rem .8rem rgba(0,0,0, .6);
      }

    }
    &.scrolled .fa-bars{
      color: $milky-white;
      &:hover{
        color: darken($milky-white, 15%)
      }
    }
  }

  #header{
    height: 60vh;
    @include parallax($url1,'left','bottom');
    &.scrolled::after{
      opacity: .5;
    }
    #title{
      display: none;
      @include mQ(850px){
        display: block;
      }
      pre {
        color: $base-dark;
        font-size: 4rem;
        z-index: 2;
        position: fixed;
        text-align: left;
        top: 30vh;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease-out;
      }
      &.pinned{
        pre {
          top: 1rem;
          left: 2rem;
          transform: initial;
        }
      }
      &.scrolled{
        pre{color: darken($milky-white,15%);}
      }
    }
  }
  #content1{
    display: flex;
    justify-content: center;
    position: relative;

    .side-menu-container{
      position: absolute;
      top: 30%;
      left: -0.3em;
      transform: translateY(-50%);
      width: 2em;
      @include mQ(1024px){
        top: 50%;
      }
      .side-menu{
        height: 4em;
        margin-top: 1rem;
        width: 3em;
        background: darken($add-ons, 10%);
        opacity: .6;
        cursor: pointer;
        border-radius: 0.3em;
        transition: all .5s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
          width: 400%;
          opacity: 1
        }
        @include mQ(1024px){
          opacity: 1;
        }
        p{
          color: $milky-white;
          opacity: 0;
          transition: .5s ease;
        }
        &:active{
          transform: translateY(3px);
        }

        &:hover > p{
          opacity: 1;
        }
        .fa-angle-right{
          color: $milky-white;
          font-size: 2em;
          padding-right: 1em;
        }
        &:hover .fa-angle-right{
          display: none;
        }
      }

    }

    article{
      width: 95%;
      @include mQ(1024px){
        width: 80%;
      }
      .border-container {
        display: flex;
        justify-content: center;
        h2 {
          padding: 3em .5em.5em .5em;
          position: relative;
          transition: 0.5s;
          @include border;
          &.scrolled{
            letter-spacing: 1rem;
          }
        }
      }
      p {
        position: relative;
        padding: 5rem 0 2rem 0;
        @include border;

      }
    }

  }
  #content2{
    height: 50vh;
    background: $milky-white;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;

    #arrow-container{
      font-size: 6em;
      width: 1em;
      text-align: center;
      display: flex;
      flex-direction: column;
      height: 1.2em;
      overflow: hidden;
      position: relative;
      visibility: hidden;
      #arrows{
        position: absolute;
        top: -300%;
        &.animate{
          animation: arrows 1.5s linear 1 forwards;
        }
        .fas{
        margin-bottom: .2em;
        }
      }
    }
  }

  #footer{
    height: 60vh;
    @include parallax($url2,'right',-20%);
    &.scrolled::after{
      opacity: .5;
    }
    div{
      position: absolute;
      z-index: 5;
      top: -1rem;
      transform: translateY(50%);
      font-size: 5em;
      transition: .5s ease-out;
      cursor: pointer;
      // way to bypass font-awesome vertical padding
      &:after{
        content: '';
        display: block;
        z-index: -1;
        width: .79em;
        height: .82em;
        background: #f1f1f1;
        position: absolute;
        top: 13%;
        left: 8%;
        border-radius: 11%;
        transition: .5s ease-out;
      }

      .fab{

      }
      &#media-1{
        left: 1em;
        color: #3b5998;
        &:hover{
          color: #a0a0a0;
          &:after{
            background: #3b5998;
          }
        }
      }
      &#media-2{
        left: 50%;
        transform: translate(-50%,50%);
        color: #00aced;
        &:hover{
          color: #f1f1f1;
          &:after{
            background: #00aced;
          }
        }
      }
      &#media-3{
        right: 1em;
        color: #cc181e;
        &:hover{
          color: #f1f1f1;
          &:after{
            background: #cc181e;
          }
        }

      }

    }
    &.scrolled{
      div{
        top: calc(50% - 1em);
        &#media-1{
          left: calc(50% - 1.6em);
        }
        &#media-3{
          right: calc(50% - 1.6em);
        }
      }
    }
  }

}